<template>
    <div class=" w-full h-full">
        <div class="fixed z-10 top-0 right-0">
            <h1>Add Category Page</h1>    
        </div>
    </div>    
</template>

<script>
export default {

}
</script>

<style>

</style>