<template>
    <div>
        <div v-if="items?.length > 0">

            <div class="w-10/12 mx-auto mt-10">
                <div class="sticky top-0 z-50">
                <CategoryComponent />
            </div>
                <div class="m-4">
                    <h1 class="text-2xl font-bold flex space-x-2 items-center my-10">
                        <!-- <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                            </svg>
                        </div> -->
                        <p class="-intro-y">{{ $t('order_title') }}</p>
                    </h1>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
                    <div class="col-span-3">
                        <div v-for="item in items" :key="item" class="intro-y">
                            <CartComponents :item="item" :qtys="qty" @onOrder="handleLitener" />
                        </div>
                    </div>
                    <div class="m-4 md:m-0 w-full">
                        <div class="p-4 bg-white shadow mt-3 rounded-md">
                            <p class="text-2xl -intro-y">{{ $t('payment_title') }}</p>
                            <hr class="my-2">
                            <div class="flex justify-between my-3">
                                <p class="text-gray-600 -intro-y">{{ pieces }} {{ $t('pieces') }}</p>
                                <p class="font-bold intro-y">៛{{ total.toFixed(2) }}</p>
                            </div>
                            <div class="flex justify-between my-3">
                                <p class="text-gray-600 intro-y">{{ $t('shipping') }}</p>
                                <p class="font-bold intro-y">៛{{ shipping.toFixed(2) }}</p>
                            </div>
                            <!-- <div v-if="total > 0" class="flex justify-between my-3">
                                <p class="text-gray-600">Order Amount</p>
                                <p class="font-bold">៛{{ (total + shipping).toFixed(2) }}</p>
                            </div> -->
                            <div>
                                <button @click="handleOrder"
                                    class="bg-blue-500 p-2 intro-y px-4 w-full text-white rounded-md hover:bg-blue-600 transition-all duration-150 ease-in-out flex space-x-2 justify-center">

                                    <p>{{ $t('order_now') }}</p> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div v-else class="flex justify-center items-center h-full">
            <div>
                <div class="flex justify-center">
                    <img src="../assets/icons8-empty-100.png" alt="">
                </div>
                <p class="text-2xl mt-4 text-orange-500">Your cart empty!</p>
            </div>
        </div>
       

        <component :is="currentComponents" :orders="orders" :userInfo="userInfo" @close="currentComponents=''"/>
    </div>

</template>

<script>

import getDocument from '@/firebase/getDocument';
import getUser from '@/firebase/getUser'
import CartComponents from '@/components/CartComponent.vue'
import { ref } from 'vue';
import { timestamp } from '@/config/config';
import CardOrderComponentVue from  '@/components/CardOrderComponent.vue'
import CategoryComponent from '@/components/CategoryComponent.vue';
import getUserDoc from '@/firebase/getUserDoc'
export default {
    components: {
        CartComponents,
        CardOrderComponentVue,
        CategoryComponent
    },
    setup() {

        const { user } = getUser();
        const pieces = ref(0)
        const total = ref(0)
        const orders = ref([])
        const shipping = ref(2000)
     
       

        const userInfo = ref([])
        const currentComponents = ref("")

        const { documents: items } = getDocument("carts", user.value?.uid, "items")

        console.log(items)

        const {_user} = getUserDoc("users")

        const handleLitener = (order) => {

            let findIndex = orders.value.findIndex(item => item.foodname === order.foodname);
            if (findIndex !== -1) {
                orders.value[findIndex] = order;
            }
            else {
                orders.value.push(order);
            }

            let priceArray = orders.value.map(i => i.price * i.qty);
            total.value = priceArray.reduce((a, c) => a + c, 0);
            pieces.value = orders.value.length;
         


        }

        const handleOrder = () => {

            userInfo.value = {
                id: user.value?.uid,
                names: user.value?.displayName,
                phoneNumber: _user.value?.phoneNumber,
                location: _user.value?.location,
                shipping: shipping.value,
                createdAt: timestamp
            }

            // orders.value = orders.value.filter((order) => order.url && order.qty > 0)

            if(orders.value.length > 0){
                currentComponents.value = "CardOrderComponentVue"    
            }
            

            // orders.value = orders.value.filter((order) => {
            //     return order.url && order.qty > 0
            // })
        }


        return { items, pieces, shipping, total, orders, handleLitener,handleOrder, userInfo,currentComponents}

    }
}
</script>

<style></style>