<template>
    <div class="w-10/12 mx-auto">
        <div class="mt-10">
            <div class="space-y-2">
               
                <div v-for="category in categories" :key="category"
                    class="border w-52 p-3 border-t-2 border-t-blue-500 hover:scale-105 transition-all duration-150 ease-in-out relative">
                    <router-link :to="{ name: 'category_detail', params: { id: category.id } }">
                        <img :src="category.url" width="30px" alt="">
                        <p> {{ category.categoryName }}  </p>

                    </router-link>

                    <div class="absolute top-0 right-0 m-2">
                        <button @click="handleCurrentCoponents(category)" class="bg-red-500 text-white rounded-full hover:bg-red-600 transition-all duration-150"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
        <component :is="currentCopoment" :category="category" @close="currentCopoment=''"/>
    </div>
</template>

<script>

import getCollection from '@/firebase/getCollection';
import { ref } from 'vue';
import DeleteCategoryComfirmationVue from '@/components/DeleteCategoryComfirmation.vue';
export default {

    components: {
        DeleteCategoryComfirmationVue
    },
    setup() {

        const currentCopoment = ref("")
        const category = ref("")

        const handleCurrentCoponents = (cat) => {
            currentCopoment.value = "DeleteCategoryComfirmationVue"
            category.value = cat
        }

        const { documents: categories } = getCollection("category")

        console.log(categories)

        return { categories, currentCopoment,handleCurrentCoponents, category }
    }
}
</script>

<style></style>