<template>
  <section class="h-screen  flex flex-col">
    <div class="mb-auto lg:w-10/12 mx-auto relative pt-2 p-10 lg:p-0">
      <div class="sticky top-0 z-50">
        <CategoryComponent />
      </div>
      <div v-if="$route.params.id != 'null'">
        <component :is="currentComponents" :name="$route.params.id" :key="$route.params.id"
          :textSearch="$route.params.textSearch" />
      </div>
      <div v-else class="flex justify-center items-center h-full">
        <div>
          <div class="flex justify-center">
            <img src="../assets/icons8-empty-100.png" alt="">
          </div>
          <p class="text-2xl mt-4 text-orange-500">មិនមានប្រភេទ <span class="text-red-500 font-bold">{{
        $route.params.textSearch }}</span> នេះទេ! </p>
        </div>
      </div>
    </div>


    <div>
      <FooterComponent />
    </div>
  </section>

</template>

<script>
import ListProductComponentVue from '@/components/ListProductComponent.vue'
import CategoryComponent from '@/components/CategoryComponent.vue'
import FooterComponent from '@/components/FooterComponent.vue'
import { ref } from 'vue'
export default {
  components: {
    ListProductComponentVue,
    CategoryComponent,
    FooterComponent
  },
  setup() {
    const currentComponents = ref("ListProductComponentVue")

    return { currentComponents }
  }

}
</script>

<style></style>