<template>
    <section class="flex flex-col h-screen">
        <div class="mx-auto mb-auto w-10/12 ">
            <h1 class="my-5 text-2xl font-bold flex items-center space-x-2">
                <p>{{ $t('my_complete') }}</p>
            </h1>
            <div class="my-5">
                <div class="font-2xl font-bold flex items-center space-x-2">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-utensils">
                        <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2" />
                        <path d="M7 2v20" />
                        <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7" />
                    </svg> -->
                    <p>{{ $t('total_order_list') }} <span class="font-bold text-lg text-orange-500">{{ documents?.length }}</span>
                    
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-5">
                <div v-for="(kit, index) in documents" :key="kit.id" class="intro-y">
                    <div class="bg-white shadow mt-3 rounded-md border-t-2 border-t-blue-500 p-4 space-y-4">
                       <p class="text-xs">លេខរៀង <b>#000{{ index + 1 }}</b></p>
                        <p class="text-sm bg-green-500 text-center rounded-full w-20 text-white">បានទទួល</p>
                        <!-- <div>{{ kit.names }}</div> -->
                        <div class="h-52 overflow-hidden overflow-y-auto overflow-y-none">
                            <div v-for="order in kit.orders" :key="order" class="flex space-x-5 items-center">
                                <img width="100px" :src="order.url" alt="">
                                <div class="space-y-1">
                                    <h1 class="font-bold text-md text-gray-600">{{ order.foodname }}</h1>
                                    <div class=" text-gray-500 text-sm">
                                        <li>តម្លៃ: ៛{{ order.price }}</li>
                                    </div>
                                    <div class="text-xs text-end font-bold">
                                        ចំនួន {{ order.qty }} ចាន
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="text-xs">
                                <li>បានកម្មង់នៅ</li>
                            </div>
                            <p class="text-sm">
                                {{ date(kit.createdAt.toDate()).format(`dddd D, MMM YYYY ${"ម៉ោង"} hh:mm`) }}
                            </p>
                        </div>
                        <hr>
                        <div>
                            <div class="flex space-x-2 justify-between">
                                <p>សរុប</p>
                                <p class="font-bold">៛{{ kit.subTotal }}</p>
                            </div>
                            <div class="flex space-x-2 justify-between">
                                <p>ដឹកជញ្ជូន</p>
                                <p class="font-bold">៛{{ kit.shipping }}</p>
                            </div>
                           
                            <div class="flex space-x-2 justify-between">
                                <p>ចំណាយអស់</p>
                                <p class="font-bold">៛{{ kit.total }}</p>
                            </div>
                        </div>
                        <!-- <router-link :to="{ name: 'InvoiceListConfirmationView', params: { id: kit.id } }">
                        <button
                            class="bg-blue-500 p-2 w-full hover:bg-blue-600 text-white rounded-md mt-2">Request</button>
                    </router-link> -->
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-2">
            <FooterComponent />
        </div>
    </section>
</template>

<script>
import { onMounted, ref } from 'vue'
import { collection, onSnapshot, query, where } from 'firebase/firestore'
import { projectFireStore } from '@/config/config'
import getUser from '@/firebase/getUser'
import moment from 'moment'
import FooterComponent from '@/components/FooterComponent.vue'
export default {
    components: {
        FooterComponent
    },

    setup() {

        const documents = ref(null)
        const date = moment

        const { user } = getUser()
        onMounted(async () => {
            const q = query(collection(projectFireStore, "kitchen"), where("status", "==", "complete"), where("userID", "==", user.value?.uid))
            onSnapshot(q, (querySnapshot) => {
                const result = []
                querySnapshot.forEach((doc) => {
                    console.log({ id: doc.id, ...doc.data() })
                    result.push({ id: doc.id, ...doc.data() })
                })
                documents.value = result
                console.log(documents.value)
            })
        })

        return { documents, date }

    }

}
</script>

<style></style>