<template>
    <div class="w-10/12 mx-auto">
        <div class="flex justify-center">
            <div>
                
                <input type="text" v-model="email"
                    class="border p-3 w-96 outline-none border-none bg-gray-50 rounded-md pl-4"
                    placeholder="Send Email">
                <p class="text-sm font-bold text-green-500 my-1">{{ msg }}</p>
                <button @click="handleSendResetEmail"
                    class="bg-blue-500 p-3 ml-2 px-6 rounded-md text-white hover:bg-blue-600 transition-all duration-300 ease-in-out mt-3">Send</button>
            </div>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue';
import { sendPasswordResetEmail } from 'firebase/auth';
import { projectAuth } from '@/config/config';

export default {
    setup() {

        const email = ref("")
        const msg = ref("")

        const handleSendResetEmail = async () => {
            if (email.value === "") {
                msg.value = "Please fill your email to verify!"
            }
            else {
                try{
                    await sendPasswordResetEmail(projectAuth, email.value)
                    msg.value = "You were send!.Please check your email to reset new password"

                    email.value = ""
                }
                catch(err){
                    console.log(err)
                }
            }
        }
        
        return { email, handleSendResetEmail, msg }
    }
}
</script>

<style></style>