<template>
    <div class="flex flex-col h-screen">
        <div class="w-10/12 mx-auto mb-auto">
            <div class="sticky top-0 z-50">
                <CategoryComponent />
            </div>
            <div v-if="isLoading" class="text-center">
                <h1 class="text-lg font-bold text-orange-500 mt-10">{{ $t('spinner') }}</h1>
            </div>
            
            <div v-else>
                <div class="">
                    <BannerComponentVue />
                </div>
                <div class="flex items-center space-x-2 intro-x">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-soup">
                        <path d="M12 21a9 9 0 0 0 9-9H3a9 9 0 0 0 9 9Z" />
                        <path d="M7 21h10" />
                        <path d="M19.5 12 22 6" />
                        <path d="M16.25 3c.27.1.8.53.75 1.36-.06.83-.93 1.2-1 2.02-.05.78.34 1.24.73 1.62" />
                        <path d="M11.25 3c.27.1.8.53.74 1.36-.05.83-.93 1.2-.98 2.02-.06.78.33 1.24.72 1.62" />
                        <path d="M6.25 3c.27.1.8.53.75 1.36-.06.83-.93 1.2-1 2.02-.05.78.34 1.24.74 1.62" />
                    </svg>
                    <p class="text-lg intro-x font-bold">{{ $t('dish') }}</p>
                </div>
                <!-- <hr class="my-2"> -->
                <div v-for="comment in displayedComments" class="border-1 space-y-3" :key="comment.id">
                    <div class=" w-full " >
                        <div>
                            <CardComponents :name="comment.id" />
                        </div>
                    </div>

                </div>
                <div class="flex justify-end my-5">
                    <vue-awesome-paginate :total-items="comments.length" :items-per-page="perPage" :max-pages-shown="1"
                        v-model="currentPage" @page-change="onClickHandler" :prev-button-content="$t('back')"
                        :next-button-content="$t('next')" />
                </div>
            </div>
        </div>
        <div>
            <FooterComponentVue />
        </div>
    </div>
</template>
<script setup>
import { projectFireStore } from "@/config/config";
import { collection, onSnapshot, query } from "firebase/firestore";
import { ref, computed, onBeforeMount } from "vue";
import CardComponents from "@/components/CardComponents.vue";
import CategoryComponent from "@/components/CategoryComponent.vue";
import FooterComponentVue from "@/components/FooterComponent.vue";
import BannerComponentVue from "@/components/BannerComponent.vue";

const perPage = ref(1);
const currentPage = ref(1);
const comments = ref([]);
const isLoading = ref(true)


setTimeout(() => {
    isLoading.value = false
}, 1000)

const onClickHandler = (page) => {
    currentPage.value = page;
};
const loadComments = async () => {
    const q = query(
        collection(projectFireStore, "category"),
    );
    try {
        await onSnapshot(q, (snapsot) => {
            const data = [];
            snapsot.forEach((doc) => {
                data.push({ id: doc.id, ...doc.data() });
            });
            console.log(data);
            comments.value = data;
        });
    } catch (error) {
        console.error(error);
    }
};

onBeforeMount(async () => {

    try {
        const loadedComments = await loadComments();
        comments.value.push(...loadedComments);
    } catch (err) {
        console.error(err);
    }

});

const displayedComments = computed(() => {
    const startIndex = currentPage.value * perPage.value - perPage.value;
    const endIndex = startIndex + perPage.value;
    return comments.value.slice(startIndex, endIndex);
});
</script>


<style>
.pagination-container {
    display: flex;
    column-gap: 10px;
}

.paginate-buttons {
    height: 40px;
    width: 60px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(217, 217, 217);
    color: black;
    font-size: 12px;
}

.paginate-buttons:hover {
    background-color: #d8d8d8;
}

.active-page {
    background-color: #3498db;
    border: 1px solid #3498db;
    color: white;
    width: 40px;
    border-radius: 5px;
}

.active-page:hover {
    background-color: #2988c8;
}
</style>
