<template>
    <div class="h-full mt-10">
        <div class="flex justify-center items-center full">
            <form @submit.prevent="handleLogin"
                class="w-full max-w-sm shadow-md p-5 rounded-lg border-t-4 border-blue-500">
                <h1 class="text-center text-4xl font-bold">{{ $t('login') }}</h1>
                <div class="flex flex-wrap -mx-3 mb-2">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-password">
                            {{ $t('email') }}
                        </label>
                        <input v-model="email"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            type="email" :placeholder="$t('email')">

                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                            {{ $t('password') }}
                        </label>
                        <input v-model="password"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            type="text" :placeholder="$t('password')">
                    </div>
                </div>
                <div v-if="error">
                    <p class="text-red-500 font-bold">{{ error }}</p>
                </div>
                <div class="md:flex md:items-center">
                    <button v-if="!isLoading"
                        class="text-white flex justify-center text-center cursor-pointer w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800  items-center">
                        <p>{{ $t('login') }}</p>
                        
                    </button>
                    <button v-else disabled type="button"
                        class="text-white flex justify-center text-center cursor-pointer w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800  items-center">
                        <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="#E5E7EB" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentColor" />
                        </svg>
                        {{ $t('spinner') }}
                    </button>
                </div>

                <div class="md:flex md:items-center mt-4">
                    <button type="button" @click="handleToGooglePopUp"
                        class=" flex space-x-5 justify-center text-center cursor-pointer w-full border focus:border-gray-200 hover:border-2 font-medium rounded-lg text-sm px-5 p-2 me-2 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25"
                            viewBox="0 0 48 48">
                            <path fill="#fbc02d"
                                d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z">
                            </path>
                            <path fill="#e53935"
                                d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z">
                            </path>
                            <path fill="#4caf50"
                                d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z">
                            </path>
                            <path fill="#1565c0"
                                d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z">
                            </path>
                        </svg>
                        <p class="text-md ml-1 font-normal">{{ $t('cont_w_google') }}</p>
                    </button>

                </div>

                <router-link :to="{ name: 'forgotPassword' }" class="text-end text-blue-400">
                    <p class="my-2 mt-3">{{ $t('forgot_pass') }}?</p>
                </router-link>
                <div class="text-end mt-2">{{ $t('no_acc') }}? <router-link :to="{ name: 'signup' }"
                        class="text-blue-500">{{ $t('sign_up') }}</router-link> </div>

            </form>
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue'
import failed from '../sound/faild.mp3';
import succes from '../sound/success.mp3'
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import useSignin from '@/firebase/useSignin'
import router from '@/router';
import { getRedirectResult, GoogleAuthProvider, signInWithPopup, signInWithRedirect } from 'firebase/auth';
import { projectAuth, provider } from '@/config/config';

const _f = new Audio(failed)
const _s = new Audio(succes)


export default {


    setup() {
        const email = ref("")
        const password = ref("")

        const { signin, error, isLoading } = useSignin()
        const handleLogin = async () => {
            if (email.value == "" || password.value == "") {

                _f.play();
                toast("All Data must be input!", {
                    "theme": "auto",
                    "type": "warning",
                    "autoClose": 1000,
                    "position": "top-center",
                    "transition": "flip",
                    "dangerouslyHTMLString": true
                })
            }
            else {
                try {
                    await signin(email.value, password.value)
                    if (!error.value) {

                        _s.play()
                        router.push({ name: "home" })
                        setTimeout(() => {
                            window.location.reload();
                        })
                    }
                }
                catch (err) {
                    console.log(err)
                    error.value = err.message
                }
            }

        }

        //Sign in with google



        const handleSigninGoogle = async () => {
            try {
                await signInWithRedirect(projectAuth, provider);
            }
            catch (err) {
                console.log(err)
            }
        }

        //get Redirect 

        const handleRedirectResult = async () => {

            try {
                await getRedirectResult(projectAuth)
                    .then((result) => {
                        // This gives you a Google Access Token. You can use it to access Google APIs.
                        const credential = GoogleAuthProvider.credentialFromResult(result);
                        console.log(credential)
                        const token = credential.accessToken;
                        console.log(token)
                        const user = result.user;
                        console.log(user)

                        router.push({ name: 'home' })

                    }).catch((error) => {
                        // Handle Errors here.
                        const errorCode = error.code;
                        const errorMessage = error.message;
                        console.log(errorCode)
                        console.log(errorMessage)
                        // The email of the user's account used.
                        const email = error.customData.email;
                        console.log(email)
                        const credential = GoogleAuthProvider.credentialFromError(error);
                        console.log(credential)
                    });
            }
            catch (err) {
                console.log(err)
            }
        }

        onMounted(() => {
            handleRedirectResult();
        })

        const handleToGooglePopUp = async () => {
            signInWithPopup(projectAuth, provider)
                .then((result) => {
                    // This gives you a Google Access Token. You can use it to access the Google API.
                    const credential = GoogleAuthProvider.credentialFromResult(result);
                    const token = credential.accessToken;
                    console.log(token)
                    // The signed-in user info.
                    const user = result.user;
                    console.log(user)
                    router.push({name: 'home'})
                    // IdP data available using getAdditionalUserInfo(result)
                    // ...
                }).catch((error) => {
                    // Handle Errors here.
                    const errorCode = error.code;
                    console.log(errorCode)
                    const errorMessage = error.message;
                    console.log(errorMessage)
                    // // The email of the user's account used.
                    // const email = error.customData.email;
                    // // The AuthCredential type that was used.
                    // const credential = GoogleAuthProvider.credentialFromError(error);
                    // // ...
                });
        };


        return { email, password, handleLogin, isLoading, error, handleSigninGoogle, handleRedirectResult, handleToGooglePopUp }
    }

}
</script>

<style></style>