<template>
    <div class="mx-auto w-10/12 ">
        <h1 class="my-5 text-2xl font-bold flex items-center space-x-2">
            <p class="-intro-y ">{{ $t('my_order_list') }}</p>
        </h1>


      
            <div class="my-2">
                <div class="font-2xl font-bold flex items-center space-x-2">
                    <p class="intro-y">{{ $t("order_list") }} <span class="font-bold text-lg text-orange-500">{{
                documents?.length }}</span>
                    </p>
                </div>
            </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-5">
                    <div v-for="kit in documents" :key="kit.id" class="intro-y">
                        <div class="bg-white shadow mt-3 rounded-md border-t-2 border-t-blue-500 p-4 space-y-4">
                            <p class="text-sm bg-yellow-500 text-center rounded-full w-36 text-white">រង់ចាំការឆ្លើយតប
                            </p>
                            <!-- <div>{{ kit.names }}</div> -->
                            <div v-for="order in kit.orders" :key="order" class="flex space-x-5 items-center">
                                <img width="100px" :src="order.url" alt="">
                                <div class="space-y-1">
                                    <h1 class="font-bold text-md text-gray-600">{{ order.foodname }}</h1>
                                    <div class=" text-gray-500 text-sm">
                                        <li>តម្លៃ: ៛{{ order.price }}</li>
                                    </div>
                                    <div class="text-xs text-end font-bold">
                                        ចំនួន {{ order.qty }} ចាន
                                    </div>
                                </div>

                            </div>
                            <div class="">
                                <div class="text-xs">
                                    <li>បានកម្មង់នៅ</li>
                                </div>
                                <p class="text-sm">
                                    {{ date(kit.createdAt.toDate()).format(`dddd D, MMM YYYY ${"ម៉ោង"} hh:mm`) }}
                                </p>
                            </div>
                            <!-- <router-link :to="{ name: 'InvoiceListConfirmationView', params: { id: kit.id } }">
                        <button
                            class="bg-blue-500 p-2 w-full hover:bg-blue-600 text-white rounded-md mt-2">Request</button>
                    </router-link> -->
                            <button class="bg-red-500 p-2 w-full hover:bg-red-600 text-white rounded-md"
                                @click="handleOpenRemoveModal(kit)">Remove My Order</button>

                        </div>
                    </div>
                </div>
           
          
    </div>

    <component :is="currentComponents" @close="currentComponents=''" :items="items" />
</template>

<script>
import { projectFireStore } from '@/config/config';
import { collection, onSnapshot, query, where } from 'firebase/firestore';
import { onMounted, ref } from 'vue';
import getUser from '@/firebase/getUser'
import moment from 'moment';
import RemoveOrderListComponentVue from '@/components/RemoveOrderListComponent.vue';
import getCollection from '@/firebase/getCollection';

// import useCollection from '@/firebase/useCollection';

export default {
    components: {
        RemoveOrderListComponentVue
    },
    setup() {

        const documents = ref([]);
        const date = moment;
        const currentComponents = ref("")

        const { user } = getUser()
        const items = ref(null)

        onMounted(async () => {
            const q = query(collection(projectFireStore, "kitchen"), where("status", "==", false), where("userID", "==", user.value?.uid));

            onSnapshot(q, (querySnapshot) => {
                const result = [];
                querySnapshot.forEach((doc) => {
                    console.log(doc.id, " => ", doc.data());
                    result.push({ id: doc.id, ...doc.data() });
                });
                documents.value = result;
            }, (error) => {
                console.error("Error getting documents: ", error);
            });
        });

        // const { removeDocs } = useCollection("kitchen")
        // const handleDelete = async (id) => {
        //     if (window.confirm("Are you sure delete?")) {
        //         await removeDocs(id)
        //     }
        // }

        const handleOpenRemoveModal = (item) => {
            currentComponents.value = "RemoveOrderListComponentVue";
            items.value = item
        }

        const { documents: docs } = getCollection("kitchen")
        console.log(docs)

        return { date, documents, currentComponents, handleOpenRemoveModal, items }
    }
}
</script>

<style></style>