<template>
  <div class="mx-auto mt-10">
    <div class="p-5 flex justify-center">
      <form @submit.prevent="handleSignup" class="w-full max-w-lg shadow rounded-lg p-5 border-t-4 border-blue-500">
        <div class=" text-center text-4xl font-bold my-2">{{ $t('sign_up') }}</div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              {{ $t('username') }}
            </label>
            <input
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" v-model="username" :placeholder="$t('username')">
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              {{ $t('email') }}
            </label>
            <input
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="email" v-model="email" :placeholder="$t('email')">
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
              {{ $t('password') }}
            </label>
            <input
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="password" v-model="password" :placeholder="$t('password')">
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
              {{ $t('c_password') }}
            </label>
            <input
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="password" v-model="confpassword" :placeholder="$t('c_password')">
            <div class="font-bold text-red-500 mt-2" v-if="error">
              <p>{{ error }}</p>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
              {{ $t('phone') }}
            </label>
            <input
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" v-model="phoneNumber" :placeholder="$t('phone')">
          </div>
          <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
              {{$t('gender')}}
            </label>
            <div class="relative">
              <select v-model="gender"
                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-state">
                <option selected disabled>--Select Gender--</option>
                <option value="Male">{{ $t('m') }}</option>
                <option value="Female">{{ $t('f') }}</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
              {{ $t('location') }}
            </label>
            <input v-model="location"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" :placeholder="$t('location') ">
          </div>

          <div class="p-3 flex justify-end w-full">
            <div class="text-end space-y-3">
              <button v-if="!isLoading"
                class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">

                {{ $t('sign_up') }}
              </button>
              <button v-else disabled type="button"
                class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
                  viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#E5E7EB" />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor" />
                </svg>
                {{ $t('sign_ups') }}
              </button>

              <div>{{ $t('areay_acc') }}? <router-link :to="{ name: 'login' }" class="text-blue-500">{{ $t('login') }}</router-link> </div>
     
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import useSignup from '@/firebase/useSignup'
import failed from '../sound/faild.mp3';
// import succes from '../sound/success.mp3'
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import useCollection from '@/firebase/useCollection';
import router from '@/router';


export default {

  setup() {

    const username = ref("")
    const email = ref("")
    const password = ref("")
    const confpassword = ref("")
    const phoneNumber = ref("")
    const gender = ref("")

    const location = ref("")

    const fail = new Audio(failed)
    // const success = new Audio(succes)

    



    const { signup, error, isLoading } = useSignup()
    const { setDocs } = useCollection("users")
    const handleSignup = async () => {
      if (username.value == "" || email.value == "" || password.value == "" || phoneNumber.value == "" || gender.value == "" || location.value == "") {
        fail.play();
        toast("All Data must be input!", {
          "theme": "auto",
          "type": "warning",
          "autoClose": 1000,
          "position": "top-center",
          "transition": "flip",
          "dangerouslyHTMLString": true
        })

      } else if (password.value != confpassword.value) {
        fail.play();
        toast("Invalid Password!", {
          "theme": "auto",
          "type": "error",
          "autoClose": 1000,
          "position": "top-center",
          "transition": "flip",
          "dangerouslyHTMLString": true
        })
      }
      else {

        const data = {
          username: username.value,
          email: email.value,
          password: password.value,
          phoneNumber: phoneNumber.value,
          gender: gender.value,
          location: location.value
        }
        const res = await signup(email.value, password.value, `${username.value}`)
        console.log(res)
        if (res?.user?.uid) {
          try {
            const sign_success = await setDocs(data, res?.user?.uid);
            if (sign_success) {
              router.push({ name: "home" })
              setTimeout(() => {
                window.location.reload();
              })
            }
          }
          catch (err) {

            console.log(err)
            fail.play();
          }
        }
      }
    }

    return { username, email, password, confpassword, phoneNumber, gender, location, handleSignup, error, isLoading }
  }

}
</script>

<style></style>