<template>
   <div class="h-screen w-full bg-black/10 fixed top-0 left-0 z-50">
    <div class="w-6/12 mx-auto flex justify-center mt-5 z-50">
        <div class="shadow p-4 rounded-md bg-white">

            <div class="my-3">
                <h1 class="text-xl flex space-x-3 text-center">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                    </svg>
                    Create Category
                </h1>
            </div>
            <form @submit.prevent="handleSubmit" method="post">
                <div class="flex flex-col space-y-2 ">
                    <label for="">{{ $t('categoryName') }}</label>
                    <input type="text" v-model="categoryName"
                        class="w-96 rounded-md  bg-gray-50 border-none outline-none p-2" :placeholder="$t('categoryName')">
                </div>
                <div class="flex flex-col space-y-2 mt-3">
                    <label for="">{{ $t('image') }}</label>
                    <input type="file" @change="handleChangeImage" :key="fileInputKey"
                        class="w-96 rounded-md bg-gray-50 border-none outline-none p-2" :placeholder="$t('image')">
                    <img width="50px" :src="urls" :key="urls" />
                </div>
                <div class="flex justify-end">
                    <button @click="handleClose"
                        class="text-white cursor-pointer bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                        Close
                    </button>
                    <button v-if="!isLoading"
                        class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                        Save
                    </button>
                    <button v-else disabled type="button"
                        class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                        <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="#E5E7EB" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentColor" />
                        </svg>
                        Saving...
                    </button>
                </div>
            </form>
        </div>
    </div>
   </div>
</template>

<script>
import { ref } from 'vue';
import failed from '../sound/faild.mp3';
import succes from '../sound/success.mp3'
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import useCollection from '@/firebase/useCollection';
import { getDownloadURL, getStorage, ref as itemRef, uploadBytes } from 'firebase/storage'

export default {

    setup(props, {emit}) {
        const fail = new Audio(failed);
        const succ = new Audio(succes)
        const categoryName = ref("");
        const categoryImage = ref(null);
        const selectedFie = ref(null)
        const urls = ref(null)
        const isLoading = ref(false)
        const fileInputKey = ref(null)

        const handleChangeImage = (e) => {
            try {
                const file = e.target.files[0]
                urls.value = URL.createObjectURL(file)
                selectedFie.value = file
            }
            catch (err) {
                console.log(err)
            }
        }
        const { addDocs } = useCollection("category")
        const handleSubmit = async () => {
            if (categoryName.value == "") {
                fail.play();
                toast("Name Required!", {
                    "theme": "auto",
                    "type": "warning",
                    "autoClose": 1000,
                    "position": "top-center",
                    "transition": "flip",
                    "dangerouslyHTMLString": true
                })
            }
            else {
                const file = selectedFie.value
                if (!file) {
                    toast("Invalid Image", {
                        "theme": "auto",
                        "type": "warning",
                        "autoClose": 1000,
                        "position": "top-center",
                        "transition": "flip",
                        "dangerouslyHTMLString": true
                    })
                }
                else {
                    isLoading.value = true
                    const storage = getStorage()
                    const storageRef = itemRef(storage, "category_image/" + file.name)
                    await uploadBytes(storageRef, file)
                    const url = await getDownloadURL(storageRef)
                    const data = {
                        categoryName: categoryName.value,
                        url: url
                    }
                    await addDocs(data)
                    succ.play();
                    isLoading.value = false
                    toast("Save Successfull!", {
                        "theme": "auto",
                        "type": "success",
                        "autoClose": 1000,
                        "position": "top-center",
                        "transition": "flip",
                        "dangerouslyHTMLString": true
                    })
                    categoryName.value = ""
                    fileInputKey.value++;
                    urls.value = null
                    console.log(data)
                }
            }
        }

        const handleClose = () => {
            emit("close");
        }

        return { handleSubmit, categoryName, categoryImage, selectedFie, urls, handleChangeImage, isLoading,fileInputKey,handleClose };
    }
}
</script>

<style></style>