<template>
  <div class="bg-black/10 fixed z-50 top-0 w-full h-full left-0">
    <div class="flex justify-center items-center h-full">
      <div class="mx-auto relative pt-2 bg-white p-3 rounded-md space-y-2">
        <div class="py-1">
          <p class="text-2xl flex space-x-2 items-center"> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
            </svg> {{ $t('foodname') }} </p>
        </div>
        <hr>
        <form @submit.prevent="handleAddProduct" class="w-full max-w-sm">
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                {{ $t('foodname') }}
              </label>
            </div>
            <div class="md:w-2/3">
              <input v-model="foodname"
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                type="text" :placeholder="$t('foodname')">
            </div>
          </div>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
                {{ $t('price') }}
              </label>
            </div>
            <div class="md:w-2/3">
              <input v-model="price"
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                type="text" :placeholder="$t('price')">
            </div>
          </div>

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
                {{ $t('discount') }}
              </label>
            </div>
            <div class="md:w-2/3">
              <input v-model="discount"
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                type="text" :placeholder="$t('discount')">
            </div>
          </div>

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
                {{ $t('description1') }}
              </label>
            </div>
            <div class="md:w-2/3">
              <textarea v-model="description"
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                type="text" :placeholder="$t('description1')"></textarea>
            </div>
          </div>

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
                {{ $t('image') }}
              </label>
            </div>
            <div class="md:w-2/3">
              <input @change="handleChangeImage"
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                type="file" placeholder="Description">

              <img :src="urls" :key="urls" width="100px" alt="">
           

            </div>
          </div>

          <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3 space-x-2">
              <button @click="handleClose"
                class="text-white cursor-pointer bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 inline-flex items-center">
                Close
              </button>
              <button v-if="!isLoading"
                class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                Save
              </button>
              <button v-else disabled type="button"
                class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
                  viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#E5E7EB" />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor" />
                </svg>
                Saving...
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from 'vue'
import failed from '../sound/faild.mp3';
import succes from '../sound/success.mp3'
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import useDocument from '@/firebase/useDocument'
import { getDownloadURL, getStorage, ref as itemRef, uploadBytes } from 'firebase/storage';


export default {
  props: ['name', "product"],
  setup(props, { emit }) {

    const foodname = ref("")
    const price = ref("")
    const discount = ref("")
    const description = ref("")
    const selectedFile = ref("")
    const urls = ref("")
    const isLoading = ref(false)

    const fail = new Audio(failed)
    const succ = new Audio(succes)

    const handleChangeImage = (e) => {
      try {
        const file = e.target.files[0];
        urls.value = URL.createObjectURL(file)
        selectedFile.value = file
      }
      catch (err) {
        console.log(err)
      }
    }


    const { addDocs,updateDocs } = useDocument("category", props.name, "product");
    const handleAddProduct = async () => {

      if (foodname.value == "" || price.value == "" || discount.value == "") {
        fail.play();
        toast("All Field Required!", {
          "theme": "auto",
          "type": "warning",
          "autoClose": 1000,
          "position": "top-center",
          "transition": "flip",
          "dangerouslyHTMLString": true
        })
      }
      else {

        const file = selectedFile.value;
        if (!file) {
          fail.play();
          toast("Image cannot empty!", {
            "theme": "auto",
            "type": "warning",
            "autoClose": 1000,
            "position": "top-center",
            "transition": "flip",
            "dangerouslyHTMLString": true
          })
        }
        else {
          isLoading.value = true
          const storage = getStorage();
          const storageRef = itemRef(storage, "product/" + file.name);
          await uploadBytes(storageRef, file)
          const url = await getDownloadURL(storageRef);

          const data = {
            foodname: foodname.value,
            price: price.value,
            discount: discount.value,
            description: description.value,
            url: url
          }

          if (props.product) {
            await updateDocs(props.product.id, data)
            succ.play();
  
            isLoading.value = false;
            toast(`បានកែប្រែមុខម្ហូប ${props.product.foodname} To ${foodname.value}`, {
              "theme": "auto",
              "type": "success",
              "autoClose": 1000,
              "position": "top-center",
              "transition": "flip",
              "dangerouslyHTMLString": true
            })
          }
          else {
            succ.play();
            await addDocs(data)
            isLoading.value = false;
            toast(`បានបញ្ចូលមុខម្ហូប ${foodname.value}`, {
              "theme": "auto",
              "type": "success",
              "autoClose": 1000,
              "position": "top-center",
              "transition": "flip",
              "dangerouslyHTMLString": true
            })
          }
          handleClose();
        }

      }
    }

    onMounted(() => {
      if (props.product) {
        foodname.value = props.product.foodname
        price.value = props.product.price
        discount.value = props.product.discount
        description.value = props.product.description
        urls.value = props.product.url
      }
    })

    const handleClose = () => {
      emit("close")
    }
    return { handleClose, foodname, price, discount, description, handleAddProduct, handleChangeImage, urls, selectedFile, isLoading }
  }
}

</script>

<style></style>