<template>

    <header class="bg-white dark:bg-gray-900">

        <div class="container px-6 py-16 mx-auto">
            <div class="items-center lg:flex">
                <div class="w-full lg:w-1/2">
                    <div class="lg:max-w-lg space-y">

                        <div>
                            <div class="max-w-lg mt-1 -intro-y text-gray-500 dark:text-gray-400 ">
                                {{ $t('food_name') }}
                            </div>
                            <h1
                                class="text-2xl intro-y font-semibold text-gray-800 dark:text-white lg:text-3xl lg:w-96">
                                {{ $t('title') }}
                            </h1>

                        </div>
                        <p class="mt-3 intro-y text-gray-600 dark:text-gray-400">
                            {{ $t('description') }}
                        </p>
                        <a href="https://t.me/Sokthin">
                            <button
                                class="bg-blue-500 mt-3 p-2 w-36 -intro-x text-white rounded-md hover:bg-blue-600 transition-all duration-150 ease-in-out">{{
                                    $t('contact') }}</button>
                        </a>
                    </div>
                </div>

                <!-- <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2 animate-bounce duration-300 delay-1000"> -->
                <div
                    class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2 ">
                    <img class="lg:max-w-3xl intro-x "
                        src="https://wander-lush.org/wp-content/uploads/2019/04/Surin.jpg">

                </div>

            </div>
        </div>
    </header>
</template>

<script>
export default {

}
</script>

<style></style>