<template>
    <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-10 mx-auto">
            <div class="lg:-mx-6 lg:flex lg:items-center lg:justify-between lg:space-x-10">
                <img class="object-contain object-center lg:w-1/2 -intro-x lg:mx-6 w-full  rounded-lg lg:h-[36rem]"
                    src="https://wander-lush.org/wp-content/uploads/2019/09/Emily-Lush-Khmer-food-Phnom-Penh-4-2.jpg"
                    alt="">

                <div class="mt-8 lg:w-1/2 lg:px-6 lg:mt-0">
                    <p class="text-5xl font-semibold text-blue-500 "></p>

                    <div>
                        <div class="max-w-lg mt-1 -intro-y text-gray-500 dark:text-gray-400 ">
                           {{ $t('food_name') }}
                        </div>
                        <h1 class="text-2xl intro-y font-semibold text-gray-800 dark:text-white lg:text-3xl lg:w-96">
                            {{ $t('type_of_spacail_food') }}
                        </h1>
                        
                    </div>

                    <div class="max-w-lg mt-6 intro-y text-gray-500 dark:text-gray-400 ">
                        {{ $t('title_of_spacial_food') }}

                    </div>

                    <!-- <h3 class="mt-6 text-lg font-medium text-blue-500">Mia Brown</h3>
                    <p class="text-gray-600 dark:text-gray-300">Marketing Manager at Stech</p> -->

                    <div class="flex items-center justify-between mt-12 lg:justify-start">
                        <a href="https://t.me/Sokthin">
                            <button
                                class="intro-y bg-blue-500 mt-3 p-2 w-36 text-white rounded-md hover:bg-blue-600 transition-all duration-150 ease-in-out">{{ $t('contact') }}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style></style>