<template>

    <div v-if="products && products.length > 0" class="flex justify-end my-10">
        <div class="flex">
            <!-- Previous Button -->
            <button @click="handlePre(products.length)"
                :class="{frozen: previous <= 0}"
                :disabled="previous <= 0"

                class="flex items-center justify-center px-4 h-10 me-3 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 5H1m0 0 4 4M1 5l4-4" />
                </svg>
                {{ $t('back') }}
            </button>
            <ul v-for="i in Math.ceil(products.length / 10)" :key="i" 
            v-show="i >= start && i <= end"
            class="flex items-center">
                <li class="bg-gray-300 px-4 h-10 rounded-full mx-2 flex items-center" :class="{activePaginate: i == activeIndex}">{{ i }}</li>
            </ul>
            <button @click="handleNext(products.length)"
                :class="{frozen: next >= products.length}"
                :disabled="next >= products.length"

                class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                {{ $t('next') }}
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </button>
        </div>
    </div>

</template>

<script>
import { ref } from 'vue';

export default {
    props:['products'],
    setup(props, {emit}){

        const start = ref(1)
        const end = ref(10)
        const previous = ref(0)
        const next = ref(10)
        const activeIndex = ref(1)

        emit("onPagination", previous.value, next.value)
        const handleNext = (limitedIncr) => {
            limitedIncr = Math.ceil(limitedIncr / 10);

            if(end.value < limitedIncr){
                start.value++;
                end.value++;
            }
            previous.value += 10;
            next.value += 10;
            activeIndex.value++;
            emit("onPagination", previous.value, next.value)
        }

        const handlePre = () => {
            if(end.value > 10){
                start.value--;
                end.value--;
            }
            previous.value -= 10;
            next.value -= 10;
            activeIndex.value--;

            emit("onPagination", previous.value, next.value)
        }

        const goToPage = (index) =>{
            activeIndex.value = index;
            emit("onPagination", previous.value, next.value)
        }

    
        return {start, end, previous, next, activeIndex, handleNext, handlePre, goToPage}

    }
}
</script>

<style></style>