<template>

   
    <div class="w-full h-full fixed z-50 bg-black/30 top-0 ">
        <div class="flex justify-center items-center h-full">

            <div class="bg-white full flex  rounded-md p-4">
                <div>
                    <div class="flex justify-between my-2">
                        <h1 class="uppercase font-bold">Shopping </h1>
                        <h1 @click="handleClose"
                            class="uppercase font-bold hover:text-gray-400 transition-all duration-150 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </h1>

                    </div>
                    <hr>
                    <div class="h-52 overflow-hidden overflow-y-auto">
                        <div v-for="order in orders" :key="order" class="flex justify-between space-x-4 py-3">
                        
                            <div class="flex space-x-2 items-center">
                                <img width="100px" :src="order.url" />
                                <div>
                                    <div class="font-bold text-md line-clamp-1">{{ order.foodname }}</div>
                                    <li class="text-xs mt-1 font-bold text-gray-500">{{ order.description }}</li>
                                </div>

                            </div>
                            <div>
                                <h1 class="font-bold flex justify-end">
                                    ៛{{ order.price.toFixed(2) }}
                                    <!-- {{ order.descrip }} -->
                                </h1>
                                <h1 class="text-xs font-bold text-gray-500 flex justify-end">ចំនួន: {{ order.qty }}x
                                </h1>
                                <h1 class="text-xs font-bold text-gray-500 ">បញ្ចុះតម្លៃ: {{ order.discount }} ភាគរយ
                                </h1>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="space-y-1 my-3 mt-3">
                        <div>
                            <h1 class="text-sm flex justify-between">ចំនួនសរុប:<span class="font-bold">៛{{ subTotal
                                    }}</span> </h1>
                        </div>

                        <div>
                            <h1 class="text-sm flex justify-between">ដឹកជញ្ជូន:<span class="font-bold">៛{{
                            userInfo.shipping.toFixed(2)
                        }}</span> </h1>
                        </div>
                        <div>
                            <h1 class="text-sm flex justify-between">ចំណាយអស់ + ការដឹកជញ្ជូន:<span class="font-bold">៛{{
                                total }}</span>
                            </h1>
                        </div>
                    </div>
                    <!-- <hr> -->
                    <fieldset class="border p-3">
                        <legend class="">ទូទាត់</legend>

                        <div class="">

                            <select type="text" v-model="payment" @change="handleChanges"
                                class="bg-gray-100 p-2 w-full rounded-md border-none outline-none">
                                <option value="" selected disabled>ជ្រើសរើការទូទាត់</option>
                                <option value="BankNumber">
                                    ធនាគារ
                                </option>

                                <option value="qrcode">QR Code</option>
                                <option value="ដោយផ្ទាល់">ដោយផ្ទាល់</option>
                            </select>

                            <div v-if="bank_number" class="mt-3">
                                <input v-model="bank_payment" type="text" placeholder="លេខកូដធនាគារ"
                                    class="bg-gray-100 p-2 w-full rounded-md border-none outline-none">
                            </div>
                            <div v-if="aclida" class="mt-3">
                                <input v-model="ac" type="text" placeholder="ACLIDA"
                                    class="bg-gray-100 p-2 w-full rounded-md border-none outline-none">
                            </div>
                            <div v-if="qrycode">
                                <img src="../assets/qrcode.jpg" alt="" width="200px">
                            </div>
                        </div>

                    </fieldset>
               
                    <div>
                       
                        <button :disabled="!isFormValid || isLoading" v-if="!isLoading" @click="handleOrderCheckout"
                            class="mt-3 py-2 transtion-all duration-150 hover:text-white bg-green-500 hover:bg-green-600 text-white rounded-md transition-all  w-full">បញ្ចប់ការទូទាត់</button>

                        <button v-else disabled
                            class="mt-3 py-2  transtion-all duration-150 hover:text-white bg-green-400 text-white rounded-md transition-all  w-full"><svg
                                aria-hidden="true" role="status" class="inline w-6 h-6 me-3 text-white animate-spin"
                                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                    fill="#E5E7EB" />
                                <path
                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                    fill="currentColor" />
                            </svg></button>

                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
import { computed, onMounted, ref } from 'vue'
import { timestamp } from '@/config/config'
import useDocument from '@/firebase/useDocument'
import getUser from '@/firebase/getUser'
import succes from '../sound/success.mp3'
import { toast } from "vue3-toastify";
import failed from '../sound/faild.mp3';
import "vue3-toastify/dist/index.css";
import useCollection from '@/firebase/useCollection'
// import router from '@/router'
export default {
    props: ["orders", "userInfo"],
    setup(props, { emit }) {

        const subTotal = ref(null)
        const total = ref(null)
        const isLoading = ref(false)
        const succ = new Audio(succes)
        const fail = new Audio(failed)
        const bank_number = ref(false)
        const payment = ref("")
        const bank_payment = ref("")
        const qrycode = ref(false)
            

        const handleClose = () => {
            emit("close")
        }

       

        onMounted(() => {
            if (props.orders?.length > 0) {
                props.orders.forEach((order) => {
                    subTotal.value += Number(order.price * order.qty);
                })
                total.value = Number(subTotal.value + props.userInfo.shipping).toFixed(2);
                subTotal.value = subTotal.value.toFixed(2)
            }
        })

        const { user } = getUser();
        // const { addDocs } = useDocument("orders", user.value?.uid, "orderDetails")
        const { deleteDocs } = useDocument("carts", user.value?.uid, "items");

        //
        const { addDocs: addKitchen } = useCollection("kitchen")
        const handleOrderCheckout = async () => {

            
            if (payment.value === "") {
                fail.play();

                toast(`សូមបំពេញការទូរទាត់`, {
                    "theme": "auto",
                    "type": "error",
                    "autoClose": 2000,
                    "position": "top-center",
                    "transition": "flip",
                    "dangerouslyHTMLString": true
                })
            }
            else {
                const data = {
                    userID: props.userInfo.id,
                    names: props.userInfo.names.toLowerCase(),
                    userInfo: props.userInfo,
                    orders: props.orders,
                    shipping: props.userInfo.shipping,
                    // location: props.userInfo.location,
                    subTotal: subTotal.value,
                    total: Number(total.value),
                    payment: payment.value,
                    bank_payment: bank_payment.value,
                    status: false,
                    createdAt: timestamp,
                }
                isLoading.value = true
                console.log(data)
                // await addDocs(data)
                //kitchen
                await addKitchen(data)
                console.log(data)


                props.orders?.forEach(async (order) => {
                    await deleteDocs(order.id)
                    
                })

                succ.play();
                // isLoadingAddToCart.value = false

                toast(`បានបញ្ជាទិញរួចរាល់`, {
                    "theme": "auto",
                    "type": "success",
                    "autoClose": 3000,
                    "position": "top-center",
                    "transition": "flip",
                    "dangerouslyHTMLString": true
                })

                // router.push({name: "home"})
               
                isLoading.value = false
                handleClose();
            }
        }

      
        const handleChanges = (event) => {
            if (event.target.value === "BankNumber") {
                bank_number.value = true

            }
            else {
                bank_number.value = false
            }

            if (event.target.value === "qrcode") {
                qrycode.value = true
            }
            else {
                qrycode.value = false
            }



        }

        //enable button
        const isFormValid = computed(() => {
            if (payment.value === 'BankNumber') {
                return bank_payment.value.trim() !== ''
            }

            return payment.value !== ''


        })

        return { handleClose, subTotal, total, handleOrderCheckout, isLoading, bank_number, handleChanges, payment, bank_payment, qrycode, isFormValid }
    }

}
</script>

<style></style>