<template>
  <div class="mt-5">
    <!-- data-aos-easing="linear"
    data-aos-duration="1500" -->

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
      <!-- <div v-for="(product, i) in products" :key="i" :class="y > 200 && 'intro-y'" -->
      <div v-for="(product, i) in products" :key="i"
        class="shadow  m-2 rounded-md p-5 intro-y bg-white transform hover:scale-105 transition-all duration-150 ease-in-out space-y-3 relative">
        <div class="flex justify-center">
          <img class="cursor-pointer" :src="product.url" style="height: 150px; object-fit: cover;" alt="">
        </div>
        <div class="flex justify-between mt-3">
          <p class="line-clamp-2">{{ product.foodname }}</p>
          <div class="h-10">
            <p v-if="product.discount > 0" class="font-bold line-through">៛{{ product.price }}</p>
            <p v-else class="font-bold ">៛{{ product.price }}</p>
            <p v-if="product.discount > 0" class="text-sm text-gray-600">៛{{ product.price - (product.price *
        product.discount) / 100 }}</p>
          </div>
        </div>

        <div>

          <li class="text-sm text-gray-600">{{ product.description }}</li>
          <!-- <li>បញ្ចុះតម្លៃ {{ product.price - (product.price * product.discount) /100 }}</li> -->

          <div v-if="product.discount > 0" class="absolute top-0 bg-red-500 p-1 text-sm left-0 px-5 text-white ">
           {{ $t('discount') }}  {{ product.discount }}%</div>
        </div>
     
        <div class="mt-4 w-full">
          <button v-if="!isLoadings" @click="handleAddToCart(product)"
            class="border border-dashed border-orange-600 p-2 px-3 rounded-md w-full text-orange-600 hover:text-black hover:border-dashed hover:border-black transition-all transform duration-300 ease-in-out ">Add
            to cart</button>
          <button v-else disabled
            class="border border-dashed border-orange-600 p-2 px-3 rounded-md w-full text-orange-600 cursor-pointer bg-gray-50 transition-all transform duration-300 ease-in-out ">

            Add to cart

          </button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import getDocument from '@/firebase/getDocument';
import getUser from '@/firebase/getUser'
import router from '@/router';
import useDocument from '@/firebase/useDocument';
import succes from '../sound/success.mp3'
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import { timestamp } from '@/config/config';
import { ref } from 'vue';

import { watch } from 'vue'
import { useWindowScroll } from '@vueuse/core'

export default {
  props: ['name'],
  setup(props) {



    const { y } = useWindowScroll()

    // Optional: Watch the scroll position to log changes
    watch(y, (newY) => {
      console.log('Scroll Position changed:', newY)
    })



    const isLoadingAddToCart = ref(false)

    const { user } = getUser()
    const { documents: products, isLoading } = getDocument("category", props.name, "product")
    const { setDocs, isLoadings } = useDocument("carts", user.value?.uid, "items")

    const succ = new Audio(succes)


    const handleAddToCart = async (product) => {
      if (!user.value) {
        router.push({ name: "login" })
      }
      else {
        // isLoadingAddToCart.value = true
        const items = {

          foodname: product.foodname,
          price: product.price - (product.price * product.discount) / 100,
          discount: product.discount,
          description: product.description,
          url: product.url,
          timestamp: timestamp
        }
        succ.play();
        // isLoadingAddToCart.value = false

        toast(`បានជាវ <p class='text-blue-500'>${product.foodname}</p>`, {
          "theme": "auto",
          "type": "success",
          "autoClose": 2000,
          "position": "top-center",
          "transition": "flip",
          "dangerouslyHTMLString": true
        })
        await setDocs(items, product.id)
        console.log(items)
      }

    }


    return { products, isLoading, handleAddToCart, isLoadings, isLoadingAddToCart, y }
  }

}
</script>

<style></style>