<template>
    <div>

        <div class="flex space-3 items-center relative bg-white shadow m-4 rounded-md">
            <img :src="item.url" width="200px" class="bg-gray-50 p-3 rounded-md m-3" alt="">
            <div class="space-y-2">
                <p class="text-lg font-bold">{{ item.foodname }}</p>
                <p class="text-red-500 text-md">{{ $t('price') }}: ៛{{ item.price.toFixed(2) }}</p>
                <div class="space-y-1">
                    <p>{{ $t("qtys") }}:</p>
                    <input @change="handleQty(item)" v-model="qty"
                        class="w-full p-2 border-none outline-none bg-gray-100 rounded-md pl-2" type="number"
                        placeholder="0" min="0" />
                </div>
            </div>

            <div class="absolute top-2 right-2">
                <button @click="handleRemoveProduct(item.id)"
                    class="bg-red-500 rounded-full p-1 text-white hover:bg-red-600 ease-in-out">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue'
import getUser from '@/firebase/getUser'
import useDocument from '@/firebase/useDocument'
export default {
    props: ['item'],
    setup(props, { emit }) {

        const qty = ref(0)
        const total = ref(0)

        const handleQty = (item) => {
            console.log(qty.value)
            handleSubTotal(item)
        }

        const handleSubTotal = (item) => {

            const price = item.price - (item.price * item.discount) / 100;
            total.value = price * qty.value
            console.log(item.price)

            const orderItem = {
                id: item.id,
                foodname: item.foodname,
                discount: item.discount,
                price: item.price,
                description: item.description,
                url: item.url,
                qty: qty.value
            }
            emit("onOrder", orderItem)

            console.log(orderItem)

        }


        //remove product

        const { user } = getUser()

        const { deleteDocs } = useDocument('carts', user.value?.uid, "items")

        const handleRemoveProduct = async (id) => {
            try {

                await deleteDocs(id)

            }
            catch (err) {
                console.log(err)
            }
        }

        return { qty, total, handleQty, handleSubTotal, handleRemoveProduct }
    }
}
</script>

<style></style>