<template>
    <div class=" rounded-md py-4 hidden shadow-sm bg-white lg:block lg:-mt-5">
    <div class="flex overflow-x-auto w-full">
        <router-link :to="{name: 'home'}"  style=""
            class="intro-x m-2 rounded-sm px-5 hover:bg-gray-50 transition-all duration-150 ease-in-out items-center flex  p-1 space-x-1 cursor-pointer">
            <div class="text-sm flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-home">
                    <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                    <polyline points="9 22 9 12 15 12 15 22" />
                </svg> <p class="mt-2">ទំព័រដើម</p>
            </div>
        </router-link>
        <div v-for="cat in documents" :key="cat" class="intro-x">
            <router-link :to="{ name: 'category_detail', params: { id: cat.id } }">
                <div style=""
                    class=" m-2 rounded-md px-5 hover:bg-gray-50 transition-all duration-150 ease-in-out items-center flex  p-1 space-x-1">
                    <div class="text-sm flex items-center space-x-2">
                        <img :src="cat.url" width="20px" :key="cat.url" alt="">
                       <p class="mt-2"> {{ cat.categoryName }}</p>
                    </div>
                </div>
            </router-link>
        </div>
    </div>
    </div>
</template>
<script>

import getCollection from '@/firebase/getCollection'
export default {
    setup() {

        const { documents } = getCollection("category")
        // console.log(documents)

        return { documents }
    }
}
</script>
<style></style>