<template>
  <div class="bg-black/15 w-full h-full fixed top-0 left-0">
    <div class="w-2/12 mx-auto my-auto h-full  flex">
      <div class="flex justify-center  items-center">
        <div class="bg-white p-3 px-4 rounded-md">
          <h1 class="my-3 flex space-x-2 font-bold text-lg items-center"><svg xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
            </svg>
            <p>Delete Category</p>
          </h1>
          <hr>
          <div class="my-2">
            <h3 class="text-md">Are you sure delete?</h3>
          </div>
          <div class="flex justify-end">
            <div class="space-x-2">
              <button @click="handleClose"
                class="bg-blue-500 p-2 px-4 rounded-md mt-1 text-white hover:bg-blue-600 transition-all duration-150 ease-in-out">Cancel</button>
              <button v-if="!isLoading" @click="handleRemove(category)"
                class="bg-red-500 p-2 px-4 rounded-md mt-1 text-white hover:bg-red-600 transition-all duration-150 ease-in-out">Ok</button>
              <button v-else disabled
                class="bg-red-500 p-2 px-4 rounded-md mt-1 text-white hover:bg-red-600 transition-all duration-150 ease-in-out"><svg
                  aria-hidden="true" role="status" class="inline w-6 h-6 text-white animate-spin"
                  viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#E5E7EB" />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor" />
                </svg></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import getUser from '@/firebase/getUser'
import useDocument from '@/firebase/useDocument';
import getDocument from '@/firebase/getDocument';
import useStorage from '@/firebase/useStorage'
import useCollection from '@/firebase/useCollection';
import { ref } from 'vue';
export default {
  props: ['category'],
  setup(props, { emit }) {

    const isLoading = ref(false)

    const handleClose = () => {
      emit("close");
    }

    const { user } = getUser();
    const { deleteDocs: removeProduct } = useDocument("category", props.category?.id, "product")
    const { deleteDocs: removeCart } = useDocument("carts", user.value?.uid, "items")
    const { removeDocs: removeCollection } = useCollection("category")
    const { documents: products } = getDocument("category", props.category?.id, "product")
    const { documents: carts } = getDocument("carts", user.value?.uid, "items")
    const { deleteImage } = useStorage()

    const handleRemove = async () => {

      const productID = [];
      const cartsID = [];

      isLoading.value = true
      products.value?.forEach((product) => {
        carts.value?.forEach((cart) => {
          if (cart.id == product.id) {
            cartsID.push(cart.id);
          }
          productID.push(product.id)
        })
      })

      if (cartsID.length > 0) {
        for (let id of cartsID) {
          await removeCart(id)
        }
      }

      if (productID.length > 0) {
        for (let id of productID) {
          await removeProduct(id)
        }
      }

      isLoading.value = false
      await deleteImage(props.category?.url);
      await removeCollection(props.category?.id);
      handleClose();

    }

    console.log(props.category?.url)

    return { handleClose, handleRemove, isLoading }
  }
}
</script>

<style></style>