<template>
  <div>

    <div class="mt-5">
      <div v-if="textSearch">
        <h1 class="font-bold text-2xl my-10 text-orange-500 flex space-x-2 items-center"><svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-salad">
            <path d="M7 21h10" />
            <path d="M12 21a9 9 0 0 0 9-9H3a9 9 0 0 0 9 9Z" />
            <path
              d="M11.38 12a2.4 2.4 0 0 1-.4-4.77 2.4 2.4 0 0 1 3.2-2.77 2.4 2.4 0 0 1 3.47-.63 2.4 2.4 0 0 1 3.37 3.37 2.4 2.4 0 0 1-1.1 3.7 2.51 2.51 0 0 1 .03 1.1" />
            <path d="m13 12 4-4" />
            <path d="M10.9 7.25A3.99 3.99 0 0 0 4 10c0 .73.2 1.41.54 2" />
          </svg>
          <div>ប្រភេទមុខម្ហូបនេះមានចំនួន <span class="text-red-500">{{ categories?.length }}</span> "{{ textSearch }}"
          </div>
        </h1>
      </div>
      <div v-if="isLoading" class="text-center">
        <h1 class="text-lg mt-10 font-bold text-orange-500">{{ $t('spinner') }}</h1>
      </div>
      <div v-else>

        <!-- <div>
          <BannerComponent />
         </div> -->

        <div>
          <!-- <hr class="my-2 p-2"> -->
        </div>
        <div v-if="categories?.length > 0">
          <div>
            <BannerCategoryComponentVue />
          </div>


          <div class="flex space-x-2 intro-x my-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-beef">
              <circle cx="12.5" cy="8.5" r="2.5" />
              <path
                d="M12.5 2a6.5 6.5 0 0 0-6.22 4.6c-1.1 3.13-.78 3.9-3.18 6.08A3 3 0 0 0 5 18c4 0 8.4-1.8 11.4-4.3A6.5 6.5 0 0 0 12.5 2Z" />
              <path
                d="m18.5 6 2.19 4.5a6.48 6.48 0 0 1 .31 2 6.49 6.49 0 0 1-2.6 5.2C15.4 20.2 11 22 7 22a3 3 0 0 1-2.68-1.66L2.4 16.5" />
            </svg>
            <p class="text-lg font-bold">ប្រភេទមុខម្ហូបនីមួយៗ</p>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
            <div v-for="(product, index) in categories" :key="product" v-show="index >= previous && index < next"
              :class="y > 150 && 'intro-y'"
              class="shadow bg-white m-2 intro-y rounded-md p-5 transform hover:scale-105 transition-all duration-150 ease-in-out space-y-3 relative">
              <div class="flex justify-center">
                <img class="cursor-pointer" :src="product.url" style="height: 150px; object-fit: cover;" alt="">
              </div>
              <div class="flex justify-between mt-3">
                <p>{{ product.foodname }}</p>
                <div class="h-10">
                  <p v-if="product.discount > 0" class="font-bold line-through">៛{{ product.price }}</p>
                  <p v-else class="font-bold ">៛{{ product.price }}</p>
                  <p v-if="product.discount > 0" class="text-sm text-gray-600">៛{{ product.price - (product.price *
        product.discount) / 100 }}</p>
                </div>
              </div>

              <div>

                <div v-if="product.description === ''" class="text-sm  text-white">0</div>
                <li class="text-gray-600" v-else>
                  {{ product.description }}
                </li>
                <!-- <li>បញ្ចុះតម្លៃ {{ product.price - (product.price * product.discount) /100 }}</li> -->

                <div v-if="product.discount > 0" class="absolute top-0 bg-red-500 p-1 text-sm left-0 px-5 text-white ">
                  {{ $t('discount') }} {{ product.discount }}%</div>
              </div>

              <div class="mt-4 w-full">
                <button @click="handleAddToCart(product)"
                  class="border border-dashed border-orange-600 p-2 px-3 rounded-md w-full text-orange-600 hover:text-black hover:border-dashed hover:border-black transition-all transform duration-300 ease-in-out ">Add
                  to cart</button>
              </div>

              <div v-if="user?.displayName === 'Admin'" class="absolute top-0 right-0 space-x-1 m-2">
                <button @click="onMouneEditProduct(product)"
                  class="bg-blue-500 p-1 hover:bg-blue-600 transition-all duration-150 ease-in-out text-white rounded-full"><svg
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>
                </button>
                <button @click="onHandleRemove(product)"
                  class="bg-red-500 p-1 hover:bg-red-600 transition-all duration-150 ease-in-out text-white rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg>

                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="flex justify-center items-center h-full my-10">
          <div>
            <div class="flex justify-center">
              <img src="../assets/icons8-empty-100.png" alt="">
            </div>
            <p class="text-2xl mt-4 text-orange-500">មិនមានមុខម្ហូប</p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- component -->
  <div v-if="user?.displayName === 'Admin' ">
    <div class="group fixed bottom-0 right-0 p-2  flex items-end justify-end w-24 h-24 z-50 ">
      <!-- main -->
      <div
        class="cursor-pointer text-white shadow-xl flex items-center justify-center p-3 rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 z-50 absolute  ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6 group-hover:rotate-90  transition-all duration-[0.6s]">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </div>
      <!-- sub left -->
      <div @click="handleAddCategory('AddCategoryComponent')"
        class="cursor-pointer absolute rounded-full transition-all duration-[0.2s] ease-out scale-y-0 group-hover:scale-y-100 group-hover:-translate-x-16   flex  p-2 hover:p-3 bg-green-300 scale-100 hover:bg-green-400 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>

      </div>
      <!-- rigt  -->
      <div @click="handleAddProduct('AddListProductComponentVue')"
        class="cursor-pointer absolute rounded-full transition-all duration-[0.2s] ease-out scale-x-0 group-hover:scale-x-100 group-hover:-translate-y-16  flex  p-2 hover:p-3 bg-blue-300 hover:bg-blue-400  text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>

      </div>
      <!-- sub middle -->
      <router-link :to="{ name: 'category' }"
        class="cursor-pointer absolute rounded-full transition-all duration-[0.2s] ease-out scale-x-0 group-hover:scale-x-100 group-hover:-translate-y-14 group-hover:-translate-x-14   flex  p-2 hover:p-3 bg-yellow-300 hover:bg-yellow-400 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
        </svg>
      </router-link>
    </div>
  </div>


  <div>
    <ButtonNavigationComponetVue :products="categories" @onPagination="handleToPagination" />
  </div>

  <component :is="currentComponents" @close="currentComponents = ''" :name="name" :product="product" />

</template>

<script>
import { ref } from 'vue'
import AddListProductComponentVue from '@/components/AddListProductComponent.vue'
import getDocument from '@/firebase/getDocument'
import DeleteProductConfirmationVue from './DeleteProductConfirmation.vue'
import getUser from '@/firebase/getUser'
import { timestamp } from '@/config/config'
import router from '@/router'
import succes from '../sound/success.mp3'
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import useDocument from '@/firebase/useDocument'
import ButtonNavigationComponetVue from './ButtonNavigationComponet.vue'
// import BannerComponent from './BannerComponent.vue'
import { watch } from 'vue'
import { useWindowScroll } from '@vueuse/core'
import AddCategoryComponent from './AddCategoryComponent.vue'
import BannerCategoryComponentVue from './BannerCategoryComponent.vue'


export default {
  components: {
    AddListProductComponentVue,
    DeleteProductConfirmationVue,
    ButtonNavigationComponetVue,
    AddCategoryComponent,
    // BannerComponent
    BannerCategoryComponentVue
  },
  props: ["name", "textSearch"],

  setup(props) {


    const { y } = useWindowScroll()



    // Optional: Watch the scroll position to log changes
    watch(y, (newY) => {
      console.log('Scroll Position changed:', newY)
    })





    const currentComponents = ref("")
    const product = ref(null)

    const previous = ref(0)
    const next = ref(1)

    //pagination
    const handleToPagination = (pre, nex) => {

      previous.value = pre,
        next.value = nex
    }

    const handleAddProduct = (component) => {
      currentComponents.value = component
    };


    const onMouneEditProduct = (item) => {
      currentComponents.value = "AddListProductComponentVue"
      product.value = item

    }

    const onHandleRemove = (item) => {
      currentComponents.value = "DeleteProductConfirmationVue"
      product.value = item
    }

    //handle add to cart
    const succ = new Audio(succes)
    const { user } = getUser()
    const { setDocs } = useDocument("carts", user.value?.uid, "items")


    const handleAddToCart = async (product) => {
      if (!user.value) {
        router.push({ name: "login" })
      }
      else {
        // isLoadingAddToCart.value = true
        const items = {

          foodname: product.foodname,
          price: product.price - (product.price * product.discount) / 100,
          discount: product.discount,
          description: product.description,
          url: product.url,
          timestamp: timestamp
        }
        succ.play();
        // isLoadingAddToCart.value = false

        toast(`បានជាវ <p class='text-blue-500'>${product.foodname}</p>`, {
          "theme": "auto",
          "type": "success",
          "autoClose": 2000,
          "position": "top-center",
          "transition": "flip",
          "dangerouslyHTMLString": true
        })
        await setDocs(items, product.id)
        console.log(items)
      }

    }

    //get product category
    const { documents: categories, isLoading } = getDocument("category", props.name, "product")
    console.log(categories)

    //handleAddCategory
    const handleAddCategory = (component) => {
      currentComponents.value = component
    }

    return { currentComponents, handleAddProduct, categories, isLoading, onMouneEditProduct, product, onHandleRemove, handleAddToCart, previous, next, handleToPagination, y, handleAddCategory,user }
  }

}
</script>

<style></style>