<template>
    <div class="mx-auto">
        <!-- <div class="w-72  bg-white shadow-lg p-3 border-t-2 border-t-blue-500">

            <div v-if="documents?.length === 0">
                <div class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                    </svg>
                    <p>No Message found</p>
                </div>
            </div>
            <div v-else>
                <div v-for="(kit, index) in documents" :key="kit">
                    <p class="text-xs text-end mt-2">បានផ្ញើរនៅ{{ date(kit.createdAt.toDate()).format(`${"ម៉ោង"} hh:mm`)
                        }} </p>
                    <div class="flex space-between items-center space-x-6">
                        <p>{{ index + 1 }}</p>
                        <div class="my-3 text-sm">បានផ្ញើរមកកាន់ <b>{{ kit.names }}</b>
                            <p class="text-xs text-end">សូមបញ្ជាក់</p>
                        </div>

                        <div @click="handleUpdate(kit.id)"
                            class="bg-green-500 text-white p-2 rounded-full hover:bg-green-600 transition-all duration-150 ease-in-out">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>

                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div> -->


        <div class="relative inline-block z-50">
            <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
                class="absolute  items-center w-48 text-gray-600 bg-white rounded-lg -left-4 -top-2 dark:shadow-none shadow-gray-200 dark:bg-gray-800 dark:text-white">
                <div class="truncate text-start">
                    <p class="p-2">{{ $t('notification') }}</p>
                    <hr>
                    <div class="bg-gray-50 p-2">
                        <div v-if="documents?.length === 0">
                            <div class="flex space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-4 text-gray-600">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                                </svg>
                                <p class="text-sm">{{ $t('message_not_found') }}</p>
                            </div>
                        </div>
                        <div v-else>
                            <div v-for="(kit, index) in documents" :key="kit">
                                <p class="text-xs text-end mt-1">បានផ្ញើរនៅ{{
                            date(kit.createdAt.toDate()).format(`${"ម៉ោង"} hh:mm`)
                        }} </p>
                                <div class="flex  items-center space-x-1 justify-between">
                               
                                    <div class="my-3 text-sm">{{index + 1}} បានចម្អិនរួចរាល់ 
                                        <p class="text-xs text-end">សូមបញ្ជាក់</p>
                                    </div>

                                    <div @click="handleUpdate(kit.id)"
                                        class="bg-green-500 text-white p-2 rounded-full hover:bg-green-600 transition-all duration-150 ease-in-out">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-3">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="m4.5 12.75 6 6 9-13.5" />
                                        </svg>

                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>


                <svg xmlns="http://www.w3.org/2000/svg"
                    class="w-20 h-6 absolute rotate-45 -left-3 bottom-0 -top-3   transform text-white dark:text-gray-800 fill-current"
                    stroke="currentColor" viewBox="0 0 24 24">
                    <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z"></path>
                </svg>
            </div>



        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue'
import { collection, getDocs, onSnapshot, query, where, writeBatch } from 'firebase/firestore'
import { projectFireStore } from '@/config/config'
import getUser from '@/firebase/getUser'
import succes from '../sound/success.mp3'
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import moment from 'moment'
export default {

    setup() {
        const documents = ref(null)
        const { user } = getUser()
        const suc = new Audio(succes)
        const date = moment

        try {


            onMounted(async () => {
                const q = query(collection(projectFireStore, "kitchen"), where("status", "==", true), where("userID", "==", user.value?.uid))
                onSnapshot(q, (querySnapshot) => {
                    const result = []
                    querySnapshot.forEach((doc) => {
                        console.log({ id: doc.id, ...doc.data() })
                        result.push({ id: doc.id, ...doc.data() })
                    })
                    documents.value = result

                })
            })
        } catch (err) {
            console.log(err)
        }

        const handleUpdate = async (id) => {

            const q = query(collection(projectFireStore, "kitchen"), where("status", "==", true))

            suc.play();
            toast("បានទទួលជោគជ័យ!", {
                "theme": "auto",
                "type": "success",
                "autoClose": 1000,
                "position": "top-center",
                "transition": "flip",
                "dangerouslyHTMLString": true
            })

            try {
                const querySnapshot = await getDocs(q)
                const batch = writeBatch(projectFireStore)
                querySnapshot.forEach((doc) => {
                    if (doc.id === id) {
                        batch.update(doc.ref, { "status": "complete" })
                    }
                });
                await batch.commit();
            }
            catch (err) {
                console.log(err)
            }
        }
        return { documents, handleUpdate, date }
    }
}
</script>

<style></style>