<template>
    <div class="px-5 md:p-4 lg:p-0">
        <div class="lg:w-10/12 mx-auto relative pt ">
            <div class="flex justify-between md:flex items-center py-3 md:py-0">
                <div class="w-full  md:flex md:items-center md:space-x-6 lg:space-x-10">
                    <div class="flex space-x-2 items-center -mt-2 lg:mt-0">
                        <svg @click="isOpen = !isOpen" v-if="!isOpen" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-all duration-150 lg:hidden">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                        </svg>
                        <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>

                        <router-link :to="{ name: 'home' }" class="md:text-2xl font-bold">
                            <img src="https://seeklogo.com/images/F/food-logo-59E5A73AFD-seeklogo.com.png"
                                class="w-20 lg:w-24">

                        </router-link>
                    </div>
                    <div>

                    </div>
                    <div class="relative w-full mt-4 md:w-80 md:mt-0 lg:w-96">
                        <input v-model="textSearch" @keyup.prevent="handleSearch" maxlength="30" type="text"
                            class="border-none bg-gray-50  p-2  w-full outline-none rounded-md pl-4"
                            :placeholder="$t('search')">
                        <div class="absolute top-2 right-3 text-yellow-400">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div
                    class="absolute top-0 md:top-2 flex right-0 space-x-2 md:space-x-2 lg:space-x-4 mt-4 md:mt-0 items-center ">
                    <div v-if="user" class="flex space-x-3 items-center">
                        <router-link @click="isOpenMessage = !isOpenMessage" to="#" class="relative">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                            </svg>

                            <p
                                class="absolute -top-2 bg-red-500 w-5 h-5 rounded-full -right-1 text-xs flex justify-center items-center text-white">

                                {{ docu?.length }}
                            </p>

                            <div v-if="isOpenMessage" class="absolute top-10">
                                <div class="z-50">
                                    <MessageComponentsVue />
                                </div>
                            </div>
                        </router-link>


                        <router-link :to="{ name: 'OrderListStatusView' }" class="relative intro-x">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
                            </svg>
                            <p
                                class="absolute -top-2 bg-red-500 w-5 h-5 rounded-full -right-1 text-xs flex justify-center items-center text-white">
                                {{ documents?.length }}</p>
                        </router-link>

                        <router-link :to="{ name: 'CompoteOrderView' }" class="relative intro-x">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-all">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
                            </svg>
                            <p
                                class="absolute -top-2 -right-2 text-sm rounded-full text-white bg-red-500 h-5 w-5 text-center">
                                {{ d_complete?.length }}</p>
                        </router-link>

                        <div class="relative intro-x">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-all">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                            </svg>
                            <div class="absolute -top-2 -right-2">
                                <router-link :to="{ name: 'cartDetail' }"
                                    class="bg-red-500 w-5 h-5 rounded-full flex justify-center items-center text-xs text-white">
                                    {{ items?.length }}
                                </router-link>
                            </div>
                        </div>
                    </div>

                    <div class="lg:flex items-center space-x-2 md:space-x-2 hidden">
                        <div v-for="image in arr_lang" :key="image" class="intro-x">
                            <img :src="image.url" @click="handleChangeLanguage(image)"
                                :class="{ 'border-2 border-blue-500': image == locale, 'cursor-pointer w-8 md:w-10': true }"
                                alt="">
                        </div>
                    </div>


                    <div v-if="!user">
                        <router-link :to="{ name: 'signup' }"
                            class="bg-blue-500 p-2 px-3 rounded-full text-white text-sm hover:bg-blue-600 transition-all duration-150 ease-in-out">
                            {{ $t('sign_up') }}
                        </router-link>
                    </div>

                    <div v-if="user" class="flex items-center space-x-1 font-bold capitalize relative">
                        <div @click="isDropdown = !isDropdown"
                            class="h-10 w-10 rounded-full bg-blue-500 text-white intro-x flex justify-center items-center cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-user">
                                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                                <circle cx="12" cy="7" r="4" />
                            </svg>
                        </div>
                        <div>

                            <div class=" absolute -bottom-[6rem] left-0 z-[999]">
                                <div v-if="isDropdown"
                                    class="bg-white w-48 p-3 space-y-2 shadow-md border-t-5 rounded-md border-blue-700 -ml-[10rem] lg:-ml-0">

                                    <button class=" font-bold hover:text-red-600 transition-all flex space-x-2">
                                        <i class='bx bx-user '></i>
                                        <p class="text-sm">{{ user?.displayName }}</p>
                                    </button>

                                    <router-link :to="{ name: 'changepassword' }" class="flex"><svg
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 mr-1">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        </svg>

                                        {{ $t("setting") }}</router-link>
                                    <button @click="handleSignout"
                                        class="text-red-500 font-bold hover:text-red-600 transition-all flex"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-log-out mr-2">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                                            <polyline points="16 17 21 12 16 7" />
                                            <line x1="21" x2="9" y1="12" y2="12" />
                                        </svg>{{ $t('logout') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Setting -->


                </div>
            </div>

            <div class="md:mt-8 ">
                <!-- <CategoryComponentVue /> -->
            </div>
        </div>
    </div>

    <!-- responsive  -->
    <Transition class="z-[999999]" name="slide-fade">
        <div v-if="isOpen" class="bg-black/30 w-full h-full fixed z-50 top-0">
            <div v-if="isOpen" class="bg-white shadow-md w-72 p-5 top-0 h-full flex justify-center relative">
                <div class="space-y-4">
                    <div class="absolute top-2 -right-4 mb-10">
                        <button @click="isOpen = !isOpen"
                            class="p-2 bg-blue-500 shadow-md hover:bg-blue-600 transition-all duration-150 ease-in-out rounded-full text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <!-- <router-link @click="isOpen = !isOpen" :to="{ name: 'add_category' }"
                        class="bg-blue-600 p-2 rounded-md text-white text-sm flex hover:bg-blue-800 transition-all duration-150 ease-in-out"><svg
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        Add Category</router-link>
                    <button class="bg-blue-600 p-2 rounded-md text-white text-sm flex"><svg
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        List Report</button>
                    <button class="bg-blue-600 p-2 rounded-md text-white text-sm flex"><svg
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        All Product List</button> -->


                    <!-- <div class="flex items-center space-x-2 md:space-x-2 lg:hidden">
                        <div v-for="image in arr_lang" :key="image">
                            <img :src="image.url" alt="" class="cursor-pointer w-8 md:w-10">
                        </div>
                    </div> -->

                    <router-link :to="{ name: 'home' }" style=""
                        class="intro-x m-2 rounded-md hover:bg-gray-50 transition-all duration-150 ease-in-out items-center flex  p-1 space-x-1 cursor-pointer">
                        <div class="text-sm flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-home">
                                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                                <polyline points="9 22 9 12 15 12 15 22" />
                            </svg>
                            <p class="mt-2">ទំព័រដើម</p>
                        </div>
                    </router-link>

                    <div v-for="cat in category" :key="cat" class="intro-x">
                        <router-link @click="isOpen = !isOpen"
                            :to="{ name: 'category_detail', params: { id: cat.id } }">
                            <div style=""
                                class=" m-2 rounded-md hover:bg-gray-50 transition-all duration-150 ease-in-out items-center flex  p-1 space-x-1">
                                <div class="text-sm flex items-center space-x-2">
                                    <img :src="cat.url" width="20px" :key="cat.url" alt="">
                                    <p class="mt-2"> {{ cat.categoryName }}</p>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="flex items-center space-x-2 ml-4 md:space-x-2 lg:hidden">
                        <div v-for="image in arr_lang" :key="image"  class="intro-x">
                            <img :src="image.url" alt="" @click="handleChangeLanguage(image)" class="cursor-pointer w-8 md:w-10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Transition>
</template>

<script>
import { onMounted, ref } from 'vue'
// import CategoryComponentVue from '@/components/CategoryComponent.vue'
import { signOut } from 'firebase/auth'
import { projectAuth, projectFireStore } from '@/config/config'
import router from '@/router'
import useUser from '@/firebase/getUser'
import getDocument from '@/firebase/getDocument'
import getCollection from '@/firebase/getCollection'
import { collection, onSnapshot, query, where } from 'firebase/firestore'
import MessageComponentsVue from './MessageComponents.vue'

import { useI18n } from 'vue-i18n'

export default {
    components: {
        // CategoryComponentVue
        MessageComponentsVue
    },
    setup(props) {
        const arr_lang = ref([
            {
                id: 1,
                name: "en",
                url: "https://www.clipartfreebee.com/images/joomgallery/originals/flags_13/usa_flag_image_free_20131123_1691923257.png"
            },
            {
                id: 2,
                name: "kh",
                url: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/1920px-Flag_of_Cambodia.svg.png"
            }
        ])

        const textSearch = ref(null)
        const isOpen = ref(false)

        const isDropdown = ref(false)
        const isOpenModal = ref(false)
        const documents = ref(null)
        const docu = ref(null)
        const d_complete = ref(null)

        const isOpenMessage = ref(false)

        //signout
        const handleSignout = async () => {
            await signOut(projectAuth)
            router.push({ name: "login" })
        }

        //getCategory

        const { documents: category } = getCollection("category")


        //get user
        const { user } = useUser()
        const { documents: items } = getDocument("carts", user.value?.uid, "items")

        console.log(user.value?.uid)

        //serach category
        const { documents: categories } = getCollection("category", props.id, "product")
        const handleSearch = () => {

            if (!textSearch.value || textSearch.value.trim() === "") {
                router.push({ name: 'home' });
            }
            else {

                let categoryName = "null"
                categories.value.forEach((category) => {
                    if (category.categoryName.toLowerCase().includes(textSearch.value.toLowerCase())) {
                        categoryName = category.id;
                    }
                })

                router.push({ name: "category_detail", params: { id: categoryName, textSearch: textSearch.value } })
            }
        }

        //count on list history
        onMounted(async () => {
            try {
                const q = query(collection(projectFireStore, "kitchen"), where("status", "==", false), where("userID", "==", user.value?.uid));

                onSnapshot(q, (querySnapshot) => {
                    const result = [];
                    querySnapshot.forEach((doc) => {
                        console.log(doc.id, " => ", doc.data());
                        result.push({ id: doc.id, ...doc.data() });
                    });
                    documents.value = result;
                }, (error) => {
                    console.error("Error getting documents: ", error);
                });
            }
            catch (err) {
                console.log(err)
            }
        });


        onMounted(async () => {
            try {
                const q = query(collection(projectFireStore, "kitchen"), where("status", "==", true), where("userID", "==", user.value?.uid))
                onSnapshot(q, (querySnapshot) => {
                    const result = []
                    querySnapshot.forEach((doc) => {
                        console.log({ id: doc.id, ...doc.data() })
                        result.push({ id: doc.id, ...doc.data() })
                    })
                    docu.value = result

                })
            }
            catch (err) {
                console.log(err)
            }
        })



        onMounted(async () => {
            try {
                const q = query(collection(projectFireStore, "kitchen"), where("status", "==", "complete"), where("userID", "==", user.value?.uid))
                onSnapshot(q, (querySnapshot) => {
                    const result = []
                    querySnapshot.forEach((doc) => {
                        console.log({ id: doc.id, ...doc.data() })
                        result.push({ id: doc.id, ...doc.data() })
                    })
                    d_complete.value = result

                })
            }
            catch (err) {
                console.log(err)
            }
        })

        //change langguage

        const { locale } = useI18n();
        const handleChangeLanguage = (lang) => {
            locale.value = lang.name
            console.log(lang.name)
        }

        return { arr_lang, isOpen, handleSignout, user, items, textSearch, handleSearch, isDropdown, isOpenModal, documents, isOpenMessage, docu, d_complete, category, handleChangeLanguage }

    }

}
</script>

<style>
/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
    transition: all 0.3s;
}

.slide-fade-leave-active {
    transition: all 0.2s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}
</style>