<template>
    <div class="w-2/4 mx-auto">
        <div>
            <div v-for="comment in displayedComments" class="border-1 mt-10 space-y-3" :key="comment.id">
                <div class="flex justify-between w-full">
                    <div class="bg-blue-500 w-[29%] text-white p-3">
                        <p><i class="fa-regular fa-bookmark"></i> {{ comment.categoryName }}</p>
                    </div>
                </div>
                <hr />
            </div>

            <div class="flex justify-end mt-10">
                <vue-awesome-paginate :total-items="comments.length" :items-per-page="perPage" :max-pages-shown="1"
                    v-model="currentPage" @page-change="onClickHandler" prev-button-content="ត្រលប់"
                    next-button-content="បន្ទាប់" />
            </div>
        </div>
    </div>
</template>
<script setup>
import { projectFireStore } from "@/config/config";
import { collection, onSnapshot, query } from "firebase/firestore";
import { ref, computed, onBeforeMount } from "vue";
// import getCollection from "@/firebase/getCollection";


const perPage = ref(1);
const currentPage = ref(1);
const comments = ref([]);

const onClickHandler = (page) => {
    currentPage.value = page;
};
// const { documents } = getCollection("category");
const loadComments = async () => {
  
   
    const q = query(
        collection(projectFireStore, "category"),

    );
    try {
        await onSnapshot(q, (snapsot) => {
            const data = [];
            snapsot.forEach((doc) => {
                data.push({ id: doc.id, ...doc.data() });
            });
            console.log(data);
            comments.value = data;
        });
    } catch (error) {
        console.error(error);
    }


   
};

onBeforeMount(async () => {

    try {
        const loadedComments = await loadComments();
        comments.value.push(...loadedComments);
    } catch (err) {
        console.error(err);
    }

});

const displayedComments = computed(() => {
    const startIndex = currentPage.value * perPage.value - perPage.value;
    const endIndex = startIndex + perPage.value;
    return comments.value.slice(startIndex, endIndex);
});
</script>




<style>
.pagination-container {
    display: flex;
    column-gap: 10px;
}

.paginate-buttons {
    height: 40px;
    width: 60px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(217, 217, 217);
    color: black;
    font-size: 12px;
}

.paginate-buttons:hover {
    background-color: #d8d8d8;
}

.active-page {
    background-color: #3498db;
    border: 1px solid #3498db;
    color: white;
    width: 40px;
    border-radius: 5px;
}

.active-page:hover {
    background-color: #2988c8;
}
</style>
