<template>
    `<div>
        <div class="bg-gray-500/10 w-full h-full fixed z-50 top-0 print_modal">
            <div class="flex justify-center items-center h-full">
                <div class="bg-white w-80 p-4 border-t-2 border-t-green-500 rounded-md">
                    <h3 class="font-bold my-2 flex items-center space-x-1"><svg xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                        </svg>
                        <p class="uppercase text-lg">Cofirmation</p>
                    </h3>
                    <hr>
                    <div>
                        <h4 class="text-md font-bold my-3">Are you sure remove your order?</h4>
                  
                    </div>
                    <hr>
                    <div class="flex justify-end items-center mt-5 space-x-2">
                        <button @click="handleClose"
                            class="bg-red-500 p-2 px-5 text-white rounded-md hover:bg-red-600 transition-all duration-300 ease-in-out">Close</button>
                        <button v-if="!isLoading" @click="handleRemove(items.id)"
                            class="bg-green-500 p-2 px-5 text-white rounded-md hover:bg-green-600 transition-all duration-300 ease-in-out">OK</button>
                        <button v-else disabled
                            class="bg-green-600 p-2 px-5 text-white rounded-md transition-all duration-300 ease-in-out">
                            <svg aria-hidden="true" role="status" class="inline w-5 h-5 text-white animate-spin"
                                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                    fill="#E5E7EB" />
                                <path
                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                    fill="currentColor" />
                            </svg>

                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { ref } from 'vue';
import useCollection from '@/firebase/useCollection';

import moment from 'moment';

export default {
    props: ['items'],
    setup(props, { emit }) {


        const documents = ref(null)
        const date = moment
        const isLoading = ref(false)
        const isOpen = ref(false)

        const {removeDocs} = useCollection("kitchen")
        const handleClose = () => {
            emit("close")
        }
        const handleRemove = async(id) => {
            try{
                isLoading.value = true
                await removeDocs(id)
              
                handleClose();
                isLoading.value = false
            }
            catch(err){
                console.log(err)
            }
        }

        return { documents, date, isLoading, isOpen, handleClose,handleRemove }
    }

}
</script>


<style></style>