
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .frozen{
        @apply cursor-not-allowed opacity-50
    }
    .activePaginate{
        @apply bg-indigo-500 p-2 rounded-full text-white
    }
    .activeLanguage{
        @apply border-2 border-indigo-300
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
   
}