<template>
  <div class="relative min-h-screen">
     <div class="z-[99]">
      <NavbarComponentVue />
     </div>
    <div class="relative z-10">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import NavbarComponentVue from './components/NavbarComponent.vue'
export default {
  components: {
    NavbarComponentVue
  }
}
</script>

<style></style>